.Nav {
    background-color: white;
    border-bottom: 2px solid black;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.Nav-link {
    float: right;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* home page link: float left */
#home-link.Nav-link {
    float: left;
    padding-top: 10px !important;
}

.Nav-link:hover {
    text-decoration: underline;
}

/* .Nav {
    background-color: transparent;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
} */

/* .Nav-link {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
} */

/* .Nav-link:hover {
    text-transform: uppercase;
} */

#home-icon.Nav-link {
    padding-top: 2px;
    float: left;
    font-size: 25px;
}

button:focus,
button:active,
button:focus {
    outline: none;
    box-shadow: none;
}

.Nav-drop-down {
    float: right;
}

.Nav-drop-down.isActive {
    border: 2px solid black;
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    100% {
      transform: scaleY(1)
    }
}

.menu {
    margin-top: 15px;
}

.menu.active {
    /* animation: growDown 400ms ease-in-out forwards; */
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: center;
    margin: 35px !important;
}

.menu.hidden {
    animation: growDown 300ms ease-in-out backwards;
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
  }