.Nav {
    background-color: white;
    border-bottom: 2px solid black;
    overflow: hidden;
    
}

.Nav-link {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* home page link: float left */
#home-link.Nav-link {
    float: left;
}

.Nav-link:hover {
    text-decoration: underline;
}